


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face {
    font-family: JosefinSans-Bold;
    src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf');
}

/*
color palette
  aqua: #52b4cc
  aqua hover: #008080
  off white: #fafafa
  footer blackish: #605d5f

*/
img {
    max-width:100%;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h4 {
    font-size: 1.5em;
}

body {
   width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #818181;
    line-height: 1.5;
}
.page-wrap{
       max-width: 960px;
    margin: 0 auto;
}


header {
    width: 100%;

    position: fixed;
    z-index: 99;
    font-family: 'Poiret One', cursive;
    color: #52b4cc;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
}

header h1 {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2em;
}

nav .logo {
    padding: .5em;
    background-size: contain;
    display: none;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    list-style: none;
    padding: 1em;
}

nav > ul > li {
    font-size: 1.5em;
    margin-left: 15px;
}

a {
    cursor: pointer;
    color: #52b4cc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0088AA;
    font-weight: bold;

}

.container {
    min-height: 300px;


}

.main {
    text-align: center;
    padding: 100px .3em 0 .3em;
}

.break-point-lang {
    padding: 1em 0;
    text-align: center;
    background-color: #fafafa;

}
.break-point {
    padding-top: 1em;
    text-align: center;
    background-color: #ffffff;

}

.cards {
    display: flex;
    flex-direction: row;
    margin: .2em 0;
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b4cc+0,0088aa+100 */
    background: #52b4cc; /* Old browsers */
    background: -moz-linear-gradient(top, #52b4cc 0%, #0088aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #52b4cc 0%, #0088aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #52b4cc 0%, #0088aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b4cc', endColorstr='#0088aa', GradientType=0); /* IE6-9 */
    text-align: center;
}

.cards a {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;

}

.cards a:hover {
    text-decoration: underline;
    color: #bbbcbf;
}

.portfolio_img {
    padding: 1em;
    justify-content: flex-start;

}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.card_text h4 {
    padding: .2em;
    color: #52b4cc;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}

.testimonials h2 {
    padding-bottom: .5em;
}

.testimonials > ul {
    display: flex;
}

.just-right {
    justify-content: flex-end;
}



/**************************************************/
/***********  testimonial section *****************/
/**************************************************/

.testimonials .user {
    width: 10%;
    height: 50%;
    min-height: 100px;
    align-self: flex-end;
    background: url("../images/user.svg") no-repeat 0 100%;
    background-size: contain;
}

.testimonials .text {
    padding: .4em;
    width: 50%;
    margin-bottom: 6em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #cccccc;
}
.speech-bubble {
    position: relative;
    background: #cccccc;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 1.594em solid transparent;
    border-top-color: #cccccc;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.797em;
    margin-bottom: -1.5em;
}
.speech-bubble-right {
    position: relative;
    background: #cccccc;
    border-radius: .4em;
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 1.594em solid transparent;
    border-top-color: #cccccc;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.797em;
    margin-bottom: -1.5em;
}


/******************************/
/******** contact form ********/
/******************************/
.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
}
.contact-form > li > label {
}

.contact-form > li > input {
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea {
    border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}




.contact-form > li > button {
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

/******** contact form ********/
/******************************/


@media (min-width: 35em) {
    /* Breakpoint for the aos nav. Changes for wider screen */

    /*********************************************/
    /*********** collapse nav on scroll **********/
    [data-aos="trans-header"] {

    }
    [data-aos="trans-header"].aos-animate {
        background: #605d5f;
        height: 70px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    [data-aos="logo-shrink-rule"] {
        -webkit-transition: height;
        -moz-transition: height;
        -ms-transition: height;
        -o-transition: height;
        transition: height;
    }

    [data-aos="logo-shrink-rule"].aos-animate {
        width: 70px;
        max-height: 70px;
        background-size: contain;
    }

    /*********** collapse nav on scroll **********/
    /*********************************************/

    .offset:before {
        display: block;
        content: " ";
        height: 70px;      /* Give height of your fixed element */
        margin-top:  -70px; /* Give negative margin of your fixed element */
        visibility: hidden;
    }

}

@media (max-width: 35em) {
    /* Breakpoint only for mobile */
   h2 {
        font-size: 2em;
    }

    header {
        position: relative;
        background: #605d5f;
    }
    .main {
        padding-top: 10px;
    }
    .cards {
        flex-direction: column;

    }
    .card_text {
        padding-top: 0;
    }
    .portfolio_img {
        padding-bottom: .5em;
    }
    /* text bubbles in testomials */
    .testimonials h2{
       padding: 0;
    }
    .testimonials .text {
        width: 80%;
        margin: 2em 0 4em 0;
    }
    .testimonials .user {
        width: 20%;
    }
    .speech-bubble:after {
        left: 20%;
    }
    .speech-bubble-right:after {
        left: 80%;
    }

    #mobileNavbar {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #605d5f;
        z-index: 99;

    }

    .mobile-menu {
        display: flex;
        justify-content: space-around;
        min-height: 70px;
    }

    .menu-item {
        flex: 1 1 0;
        text-align: center;
        align-self: center;

    }

    /* Top nav mods for mobile view */
    #menu {
        display: none;
    }

    nav {
        justify-content: center;
    }
    footer{
        visibility: hidden;
    }

    /* keeps mobile keyboard from moving bottom nav up */
    .fixfixed #mobileNavbar {
        position: absolute;
    }


}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}



/*************************************/
/***********  contact form ***********/

.container-contact100 {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
}



.wrap-contact100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 65px 55px;

    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
}


/*==================================================================
[ Form ]*/

.contact100-form {
    width: 100%;
}
#form-messages{
    display: none;
    text-align: center;
    margin-bottom: 1em;
}
.error{
    color: red;
}
.success {
    color: green;
}
.contact100-form-title {
    display: block;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #818181;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 20px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 17px;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: JosefinSans-Bold;
    font-size: 15px;
    color: #52b4cc;
    line-height: 1.2;
}


/*---------------------------------------------*/
input.input100 {
    height: 62px;
    padding: 0 20px 0 23px;
}


textarea.input100 {
    min-height: 199px;
    padding: 19px 20px 0 23px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100-1,
.focus-input100-2 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100-1::before,
.focus-input100-2::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #52b4cc;
}

.focus-input100-1::before {
    top: -1px;
    left: 0;
}

.focus-input100-2::before {
    bottom: -1px;
    right: 0;
}

.focus-input100-1::after,
.focus-input100-2::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 0;
    background-color: #52b4cc;
}

.focus-input100-1::after {
    top: 0;
    right: -1px;
}

.focus-input100-2::after {
    bottom: 0;
    left: -1px;
}

.input100:focus + .focus-input100-1::before {
    -webkit-animation: full-w 0.2s linear 0s;
    animation: full-w 0.2s linear 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1::after {
    -webkit-animation: full-h 0.1s linear 0.2s;
    animation: full-h 0.1s linear 0.2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::before {
    -webkit-animation: full-w 0.2s linear 0.3s;
    animation: full-w 0.2s linear 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::after {
    -webkit-animation: full-h 0.1s linear 0.5s;
    animation: full-h 0.1s linear 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}


@keyframes full-w {
    to {
        width: calc(100% + 1px);
    }
}

@keyframes full-h {
    to {
        height: calc(100% + 1px);
    }
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
    padding-top: 12px;
    padding-bottom: 28px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-size: 15px;
    color: #52b4cc;
    line-height: 1.2;
    margin: 0;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 15px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #e6e6e6;
    background: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
    color: #52b4cc;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color: #52b4cc;

    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background-color: #008080;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 62px 15px 65px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    font-family: JosefinSans-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/***************************************************************/
/************************ FOOTER SECTION ***********************/

footer {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
    color: #C0B9AD;
    background: #605d5f;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    list-style: none;
    padding: 1em;
}

footer > ul > li {

    margin-left: 15px;
}
footer .footer-left{
     font-family: 'Poiret One', cursive;
}
footer .footer-right{
     font-family: Arial, Helvetica, sans-serif;
}
footer .footer-right p{
    font-size: .5em;
}

#mobileNavbar {
    display: none;
}

